[Unit]
Description=Push-To-Talk Dictation Service
After=type-ascii.service
Requires=type-ascii.service

[Service]
Type=simple
ExecStart=/usr/sbin/ptt
EnvironmentFile=/etc/default/ptt
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
